<h1 class="center">All Articles</h1>
  <div class="center"><%= link_to 'New article', new_article_path %></div><br>

  <!-- <ul class="center"> -->
    <% @articles.each do |article | %>
      <div class="center">
        <h3><%= link_to article.title, article_path(article) %></h3>
          <p class="">Created on <%= article.created_at %>
          <p class="article-text"><%= article.text %></p>
          <%= link_to 'Edit', edit_article_path(article) %> <%= link_to 'Delete', article_path(article),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
      </div><br>
    <% end %>
  <!-- </ul> -->
