<div class="center">
  <h1>
    <%= @article.title %>
  </h1>
</div>

<div class="center article-text">
  <%= @article.text %>
</div>

<div class="center comment">
  <h2>Comments</h2>
  <%= render @article.comments %>
</div>

<div class="center">
  <h3><small>Add a comment:</small></h3>
  <%= render 'comments/form' %>

  <%= link_to 'Edit', edit_article_path(@article) %> |
  <%= link_to 'Back', articles_path %>
</div>