<h1 class="center">Bob Loblaw's Law Blog</h1>
<h2 id="myself" class="center"><small>by Bob Loblaw</small></h2>
  <div class="small-title center"><h2><small>Most recent posts</small></h2></div>
<div class="center">
  <% @articles.each do |article| %>
    <div class="blog-post">
      <h3 class="article-title center"><%= link_to article.title, article_path(article) %></h3>
      <p class="center">Created on <%= article.created_at %>
      <p class="center"><%= article.text %></p>
    </div>
  <% end %>
</div>


<%= link_to "Absolute", articles_url %>
<%= link_to "Relative", articles_path %>